@media screen and (max-width: 1024px) {
    body {
        flex-direction: column;
        overflow-x: hidden;
        justify-content: start;
    }

    #sectionGame, #sectionTable {
        width: 100%;
    }
}